<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finalwork">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Finalwork">
        <activity
            android:name=".TrashbinActivity"
            android:label="回收站"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".UpdateActivity"
            android:exported="false"
            android:label="修改账单"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AddActivity"
            android:exported="false"
            android:label="添加账单"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="诺米记账">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>