<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finalwork">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_baseline_rice_bowl_24"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Finalwork">
        <activity
            android:name=".LoginActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PasswordSettingActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".ParentUpdateActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ParentAddActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".TrashbinActivity"
            android:exported="false"
            android:label="回收站"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="诺米记账">

        </activity>
    </application>

</manifest>